.order-card-container {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: space-between;
}

.order-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #1f1d2b;
  border-radius: 8px;
  flex-basis: 200px;
  padding: 16px 16px;
  padding-right: 32px;

  h3 {
    font-size: 32px;
  }
}

.order-flex {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon-container {
  background-color: #252836;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
