@import "src/styles/abstracts/_variables.scss";

.donut {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  height: 218.25px;
  position: relative;
}

.inner-4 {
  position: absolute;
  box-sizing: border-box;
  background-color: $secondary-bg;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  border: 10px solid #2a2836;
  top: 49%;
  left: 50.1%;
  transform: translate(-50%, -50%);
}

.inner-3 {
  // position: absolute;
  width: fit-content;
}
.inner-2 {
  width: fit-content;
  position: absolute;
}

.inner-1 {
  width: fit-content;
  position: absolute;
}
