@import "../../styles/abstracts/placeholders";

.mainRoot {
  @extend %main-container;
  position: relative;
}

.container-70 {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 24px;
}
